body {
	background-color: #99b2d1;
	font-family: Palatino, Arial;
    }




h2  {
	
	font-family: Palatino , Segoe UI, Arial, sans-serif;
	font- size: 14px;
    }



h3  {
    font-family: Palatino, Segoe UI, Arial, sans-serif;
	font- size: 12px;
}
.lesson1{
    background-color: #eaebef;
    font-size:16px;
    padding: 40px;
    margin-right
    margin-left
    margin-top
    margin-bottom
} 
.box0 {
	padding-left:300px;
	color:#black;
	background-color: #91b2d1;
	border: black 2px solid;  
}
.box1 {
	padding-left:300px;
	color:#black;
	background-color: #91b2d1;
	border: black 2px solid;
}
.box2 {
	padding-left:300px;
	color:#black;
	background-color: #91b2d1;
	border: black 2px solid;
}
.box3{
	padding-left:300px;
	color:#black;
	background-color: #91b2d1;
	border: black 2px solid;
}
.box4 {
	padding-left:300px;
	color:#black;
	background-color: #91b2d1;
	border: black 2px solid;
}

.lesson2{
    background-color: #eaebef;
    font-size:16px;
    padding: 40px;
    margin-right
    margin-left
    margin-top
    margin-bottom
}
.box5 {
	padding-left:300px;
	color:#black;
	background-color: #91b2d1;
	border: black 2px solid;
}
.lesson3{
    background-color: #eaebef;
    font-size:16px;
    padding: 40px;
    margin-right
    margin-left
    margin-top
    margin-bottom
}
.box6 {
	padding-left:300px;
	color:#black;
	background-color: #91b2d1;
	border: black 2px solid;
}
.box7 {
	padding-left:300px;
	color:#black;
	background-color: #91b2d1;
	border: black 2px solid;
}
.box8 {
	padding-left:300px;
	color:#black;
	background-color: #91b2d1;
	border: black 2px solid;
}
.box9 {
	padding-left:300px;
	color:#black;
	background-color: #91b2d1;
	border: black 2px solid;
}